section.home_section{

    .card{
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.104);
        margin: 3rem 0;
        border-radius: 7px;

        .post-info{
            margin: 2rem 0;

            a{
                text-decoration: none;
                color: black;

                h1.home_post_title{
                    font-size: 3rem;
                    font-weight: 500; 
                }
            }
             p{
                 font-size: 1.6rem;
             }
        }
    }

    h1.loading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 40px !important;
        font-weight: 400 !important;
    }
}