*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html{
    font-size: 10px;
  }
  body {
    font-family: 'Poppins', sans-serif;
    background-color: $bgColor;
  }
  .post_body span{
    color: black !important;
  }
  img{
    width: 100%;
  }